<!DOCTYPE HTML>
<html>

<head>
  <title>Skeleton Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/semantic.css" rel="stylesheet">
  <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/static/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/semantic.js"></script>
  <script type="text/javascript" src="/static/d3.v3.min.js"></script>
  <style>
  .main {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
  }

  body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  </style>
  <script type="text/javascript">
  $(document).ready(function() {
    var today = new Date();
    $("#date").text(today.toLocaleString());
    var sittingState;
    var skeletonColor = ["green", "orange", "orange", "red"];

    jointTypeDict = {
      "SpineBase": 0,
      "SpineMid": 1,
      "Neck": 2,
      "Head": 3,
      "ShoulderLeft": 4,
      "ElbowLeft": 5,
      "WristLeft": 6,
      "HandLeft": 7,
      "ShoulderRight": 8,
      "ElbowRight": 9,
      "WristRight": 10,
      "HandRight": 11,
      "HipLeft": 12,
      "KneeLeft": 13,
      "AnkleLeft": 14,
      "FootLeft": 15,
      "HipRight": 16,
      "KneeRight": 17,
      "AnkleRight": 18,
      "FootRight": 19,
      "SpineShoulder": 20,
      "HandTipLeft": 21,
      "ThumbLeft": 22,
      "HandTipRight": 23,
      "ThumbRight": 24
    };
    generateLine = function(skeletonData) {
      var pointPairs = [];

      function pushBone(joint1, joint2) {
        pointPairs.push([{ "x": skeletonData[jointTypeDict[joint1]][0], "y": skeletonData[jointTypeDict[joint1]][1] },
          { "x": skeletonData[jointTypeDict[joint2]][0], "y": skeletonData[jointTypeDict[joint2]][1] }
        ]);
      }
      //body
      pushBone("Head", "Neck");
      pushBone("Neck", "SpineShoulder");
      pushBone("SpineShoulder", "SpineMid");
      pushBone("SpineMid", "SpineBase");
      pushBone("SpineShoulder", "ShoulderRight");
      pushBone("SpineShoulder", "ShoulderLeft");
      pushBone("SpineBase", "HipRight");
      pushBone("SpineBase", "HipLeft");
      // Right Arm
      pushBone("ShoulderRight", "ElbowRight");
      pushBone("ElbowRight", "WristRight");
      pushBone("WristRight", "HandRight");
      pushBone("HandRight", "HandTipRight");
      pushBone("WristRight", "ThumbRight");
      // Left Arm
      pushBone("ShoulderLeft", "ElbowLeft");
      pushBone("ElbowLeft", "WristLeft");
      pushBone("WristLeft", "HandLeft");
      pushBone("HandLeft", "HandTipLeft");
      pushBone("WristLeft", "ThumbLeft");
      // Right Leg
      pushBone("HipRight", "KneeRight");
      pushBone("KneeRight", "AnkleRight");
      pushBone("AnkleRight", "FootRight");
      // Left Leg
      pushBone("HipLeft", "KneeLeft");
      pushBone("KneeLeft", "AnkleLeft");
      pushBone("AnkleLeft", "FootLeft");
      return pointPairs;
    };
    var startTime = new Date();

    var skeletonData = [
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95],
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95],
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95],
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95],
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95]
    ];

    var skeletonSvg = d3.select("#skeleton")
      .append("svg")
      .attr("id", "skeletonSvg")
      .attr("preserveAspectRatio", "xMidYMid")
      .attr("width", "100%")
      .attr("height", "100%");

    svgWidth = 400;
    svgHeight = 300;

    var scalex = d3.scale.linear().range([0, svgWidth]).domain([-1, 1]);
    var scaley = d3.scale.linear().range([0, svgHeight]).domain([1, -1]);
    var lineFunction = d3.svg.line()
      .x(function(d) { return scalex(d.x); })
      .y(function(d) { return scaley(d.y); })
      .interpolate("linear");

    skeletonSvg.selectAll("circle")
      .data(skeletonData)
      .enter()
      .append("circle")
      .attr("class", "skeletonPoint")
      .attr("cx", function(d) {
        return scalex(d[0]);
      })
      .attr("cy", function(d) {
        return scaley(d[1]);
      })
      .attr("r", 5)
      .attr("fill", function(d) {
        return skeletonColor[sittingState];
      });

    lineData = generateLine(skeletonData);
    skeletonSvg.selectAll("Path").data(lineData).enter()
      .append("path")
      .attr("d", lineFunction)
      .attr("stroke", function(d) {
        return skeletonColor[sittingState];
      })
      .attr("stroke-width", 2);

    heatmapData = [];
    for (var i = 0; i < 50; i++) {
      for (var j = 0; j < 50; j++) {
        heatmapData.push([i, j, 0]);
      }

    }
    gridWidth = 5;
    gridHeight = 5;

    var heatmapSvg = d3.select("#heatmap")
      .append("svg")
      .attr("id", "heatmapSvg")
      .attr("preserveAspectRatio", "xMidYMid")
      .attr("width", "100%")
      .attr("height", "100%");

    heatmapSvg.selectAll("rect")
      .data(heatmapData)
      .enter()
      .append("rect")
      .attr("x", function(d) {
        return d[0] * gridWidth;
      })
      .attr("y", function(d) {
        return d[1] * gridHeight;
      })
      .attr("width", gridWidth)
      .attr("height", gridHeight)
      .attr("class", "rect")
      .style("fill", "black")
      .style("opacity", function(d) {
        return 0.3;
      });

    // Use a "/test" namespace.
    // An application can open a connection on multiple namespaces, and
    // Socket.IO will multiplex all those connections on a single
    // physical channel. If you don't care about multiple channels, you
    // can set the namespace to an empty string.
    namespace = '/test';

    // Connect to the Socket.IO server.
    // The connection URL has the following format:
    //     http[s]://<domain>:<port>[/<namespace>]
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    // Event handler for new connections.
    // The callback function is invoked when a connection with the
    // server is established.
    socket.on('connect', function() {
      socket.emit('my_event', { data: '[]' })
    });

    // Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.

    updateSkeleton = function(skeletonData) {
      skeletonSvg.selectAll("circle")
        .data(skeletonData)
        .transition()
        .attr("cx", function(d) {
          return scalex(d[0]);
        })
        .attr("cy", function(d) {
          return scaley(d[1]);
        })
        .attr("r", 5)
        .attr("fill", function(d) {
          return skeletonColor[sittingState];
        });

      lineData = generateLine(skeletonData);
      skeletonSvg.selectAll("Path")
        .data(lineData)
        .transition()
        .attr("d", lineFunction)
        .attr("stroke", function(d) {
          return skeletonColor[sittingState];
        })
        .attr("stroke-width", 2);
    };

    updateHeatmap = function(heatmapData) {
      heatmapSvg.selectAll("rect")
        .data(heatmapData)
        .transition()
        .delay(0)
        .duration(10)
        .attr("x", function(d) {
          return d[0] * gridWidth;
        })
        .attr("y", function(d) {
          return d[1] * gridHeight;
        })
        .attr("width", gridWidth)
        .attr("height", gridHeight)
        .attr("class", "rect")
        .style("fill", "black")
        .style("opacity", function(d) {
          return d[2];
        });
      console.log('updateheamtap')
    };

    socket.on('my_response', function(msg) {
      var now = new Date();
      $("#lastingMin").text(Math.floor((now - startTime) / 60000));
      $("#lastingSec").text(Math.floor((now - startTime) % 60000 / 1000));
      if (msg.data.length < 5) { return; }
      skeletonData = eval("(" + msg.data + ")");
      skeletonData = skeletonData[0];
      updateSkeleton(skeletonData);
      if (parseInt(msg.count) % 10 == 0) {
        heatmapData = eval("(" + msg.heatmap + ")");
        console.log(heatmapData);
        updateHeatmap(heatmapData);
      }


    });

    // Interval function that tests message latency by sending a "ping"
    // message. The server then responds with a "pong" message and the
    // round trip time is measured.
    var ping_pong_times = [];
    var start_time;
    window.setInterval(function() {
      start_time = (new Date).getTime();
      socket.emit('my_ping');
    }, 1000);

    // Handler for the "pong" message. When the pong is received, the
    // time from the ping is stored, and the average of the last 30
    // samples is average and displayed.
    socket.on('my_pong', function() {
      var latency = (new Date).getTime() - start_time;
      ping_pong_times.push(latency);
      ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
      var sum = 0;
      for (var i = 0; i < ping_pong_times.length; i++)
        sum += ping_pong_times[i];
      $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
    });

    // Handlers for the different forms in the page.
    // These accept data from the user and send it to the server in a
    // variety of ways
    $('form#emit').submit(function(event) {
      socket.emit('my_event', { data: $('#emit_data').val() });
      return false;
    });
  });

  </script>
</head>

<body>
  <div class="main">
    <div class="container-fluid text center" style="height: 100%">
      <div class="row content" style="height: 100%; padding: 20px;">
        <div class="col-sm-4 well" id="statPanel" style="height: 100%; margin-right: 15px">
          <h1 class="ui green header">拯救程序员：坐姿检测器</h1>
          <p><i class="calendar icon"></i>今天是：<b><span id="date"></span></b></p>
          <p><i class="arrow circle down icon"></i>后台通信平均网络延迟: <b><span id="ping-pong"></span>ms</b></p>
          <p><i class="unhide icon"></i>已检测时间: <b><span id="lastingMin"></span> 分钟 <span id="lastingSec"></span> 秒 </b></p>
          <p><i class="keyboard icon"></i>队伍成员：段宇，梁辰，胡天晓</p>
          <h1 class="ui green header">坐姿习惯反馈</h1>
          <div id="heatmap" style="height: 80%; width: 100%"></div>
        </div>
        <div class="col-sm-7 well" id="skeletonView" style="height: 100%; margin-left: 15px">
          <h1 class="ui green header">坐姿实时反馈</h1>
          <div id="skeleton" style="width: 100%; height: 80%"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
